name: Job Scraper (Hourly)

on:
  schedule:
    - cron: "18 4 * * 0-5"   # 10:03 AM Nepal Time
    - cron: "22 8 * * 0-5"   # 2:07 PM Nepal Time
    - cron: "20 12 * * 0-5"  # 6:05 PM Nepal Time
    # cron: "0 * * * *"      # runs every hour

  workflow_dispatch:      # allows manual run

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install Chrome
      uses: browser-actions/setup-chrome@v1

    - name: Run scraper
      run: |
        python scraper.py

    - name: Commit and push CSV updates
      run: |
        git config --global user.name "dpm24800"
        git config --global user.email "dpm.it24800@gmail.com"
        git add data/top_jobs.csv data/by_deadline.csv
        git commit -m "Hourly job scrape update" || echo "No changes to commit"
        git push